body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #052727;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

::-webkit-scrollbar {
  width: 0.6rem;
  border-radius: 0.5rem;
  background-color: hsl(180, 97%, 5%);
}

::-webkit-scrollbar-thumb {
  background-color: hsl(180, 97%, 15%);
  border-radius: 0.5rem;
}

::-webkit-scrollbar-thumb:hover {
  background-color: hsl(180, 97%, 18%);
}

.creation-div {
  background-color: white;
  width: 1024px;
  height: 721px;
  margin: 30px auto 100px auto;
  border-radius: 20px;
  box-shadow: 0 4px 19px rgb(0, 0, 0, 0.8);
  padding-right: 60px;
}

.form-div {
  float: left;
  width: 404px;
  display: flex;
  text-align: start;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 8px;
  margin-left: 60px;
}

.card-div {
  float: right;
  width: 350.17px;
  height: 534.33px;
  border: 9px solid #036b52;
  margin: 30px 0;
  box-shadow: 0px 3.89311px 18.4923px rgba(0, 0, 0, 0.25);
  border-radius: 9.73277px;
  background-color: white;
}

.form-title,
.card-title {
  font-style: italic;
  font-weight: 800;
  font-size: 28px;
  line-height: 29px;
  text-transform: uppercase;
  color: #2fc18c;
  text-align: center;
}

.card-title {
  padding-top: 40px;
  margin-left: 650px;
}

.form-title {
  margin: 30px 0;
}

#name {
  width: 365px;
  display: block;
  border-top: none;
  border-left: none;
  border-right: none;
  height: 35px;
}

#description {
  width: 365px;
  display: block;
  border-top: none;
  border-left: none;
  border-right: none;
  height: 108px;
}

#attr1,
#attr2,
#attr3 {
  width: 296px;
  display: inline;
  margin-left: 20px;
  height: 26px;
}

#image {
  width: 295px;
  display: inline;
  margin-left: 10px;
  margin-top: 30px;
  margin-bottom: 20px;
  height: 26px;
}

#rare {
  width: 371px;
  height: 26px;
  display: block;
  border-top: none;
  border-left: none;
  border-right: none;
  height: 35px;
  background-color: white;
  margin-top: 10px;
}

#trunfo {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
}

#trunfo:checked {
  background-color: red;
}

#save-button {
  margin-left: 97px;
  filter: drop-shadow(0px 1px 2px rgba(0, 0, 0, 0.06))
    drop-shadow(0px 1px 3px rgba(0, 0, 0, 0.1));
  border-radius: 2px;
  background-color: #2fc18c;
  width: 115px;
  height: 40px;
  color: white;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  transition: 1s;
}

#save-button:disabled {
  background-color: rgb(210, 210, 210);
}

.form-div p {
  width: 371px;
  text-align: end;
}

.form-div span {
  margin: 30px;
}

.title-all-cards {
  color: white;
  font-style: italic;
  font-weight: 600;
  font-size: 28px;
  line-height: 29px;
  text-align: center;
  text-transform: uppercase;
}

.filter-bar {
  margin: 0 auto;
  background-color: white;
  width: 1024px;
  height: 75px;
  background: #036b52;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  display: flex;
}

.subtitle-all-cards {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  display: flex;
  align-items: center;
  color: white;
  margin-left: 20px;
  margin-right: 15px;
}

#name-filter {
  border: 1px solid #ffffff;
  border-radius: 6px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: white;
  align-self: stretch;
  padding: 12px 16px;
  background: #036b52;
  margin: 15px 0;
  margin-right: 15px;
  width: 310px;
  height: 19px;
}

#name-filter::placeholder {
  color: white;
}

#name-filter:disabled::placeholder {
  color: rgb(210, 210, 210);
}

#rare-filter {
  border: 1px solid #ffffff;
  border-radius: 6px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: white;
  align-self: stretch;
  padding: 12px 16px;
  background: #036b52;
  margin: 15px 0;
  margin-right: 15px;
  width: 290px;
  height: 45px;
}

.trunfo-filter-label {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  margin: auto 0;
  color: white;
  text-align: end;
}

.all-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 650px;
}

.div-card {
  margin: 0 auto;
}

#delete-button {
  position: absolute;
  margin-top: 590px;
  margin-left: 125px;
  filter: drop-shadow(0px 1px 2px rgba(0, 0, 0, 0.06))
    drop-shadow(0px 1px 3px rgba(0, 0, 0, 0.1));
  border-radius: 2px;
  background-color: #f11414;
  width: 115px;
  height: 40px;
  color: white;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
}

.card-div-title {
  text-align: end;
  font-weight: 700;
  font-size: 27.2518px;
  line-height: 28px;
  color: white;
  background-color: #023031;
  margin-top: 0;
  padding: 10px 15px 10px 0px;
}

.card-div-img {
  height: 290px;
  width: 351px;
  margin: 0;
  margin-top: -29px;
}

.card-div-desc {
  background-color: #036b52;
  transform: rotate(-6.12deg);
  color: white;
  padding: 20px;
  margin: -23px -6px 0;
  font-size: 9.73277px;
}

.card-div-attr1 {
  margin: 50px auto 10px;
  display: flex;
  justify-content: center;
}

.card-div-attr2 {
  margin: 0 auto 10px;
  display: flex;
  justify-content: center;
}

.card-div-attr3 {
  margin: 0 auto 10px;
  display: flex;
  justify-content: center;
}

.card-div-rare {
  position: absolute;
  margin-top: -50px;
  margin-left: 7px;
  color: white;
  text-align: start;
  font-weight: 400;
  font-size: 12px;
  text-transform: uppercase;
  opacity: 0.4;
}

.card-div-trunfo {
  color: #002d22;
  background-image: linear-gradient(#4bf8b9, #2fc18c);
  text-transform: uppercase;
  padding: 6px;
  box-shadow: 0px 2.10442px 13.0474px rgba(0, 0, 0, 0.7);
  border-radius: 10px;
  position: absolute;
  margin-left: 110px;
  margin-top: -95px;
}
